@charset "utf-8";

//clearfix
@mixin clearfix {
	&:before,
	&:after {
		content:"";
		display:block;
		overflow:hidden;
	}
	&:after {
		clear:both;
	}
	/* For IE 6/7 (trigger hasLayout) */
	zoom:1;
}

//anchor text color
@mixin linkColor($color: inherit) {
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus {
		color: $color;
	}
}

//mediaQuery
@mixin mq-small($value: $width-sp) {
	@media screen and (max-width:$value) {
		@content;
	}
}
@mixin mq-medium($value: $width-tablet) {
	@media screen and (max-width:$value) {
		@content;
	}
}
@mixin mq-large($value: $width-sp + 1) {
	@media screen and (min-width:$value) {
		@content;
	}
}
@mixin mq-min($value) {
	@media screen and (min-width:$value) {
		@content;
	}
}
@mixin mq-max($value) {
	@media screen and (max-width:$value) {
		@content;
	}
}
@mixin mq-min-max($min, $max) {
	@media screen and (min-width:$min) and (max-width:$max) {
		@content;
	}
}

//font-size
// - rem
@mixin fz($value) {
	font-size: $value + px;
	font-size: $value / 10 + rem;
}
// - percentage
@mixin fz-per($value, $parentValue: $font-size-base) {
	font-size: percentage($value/$parentValue);
}

//margin
@mixin margin($top,$right,$bottom,$left,$parentWidth) {
	margin: percentage($top/$parentWidth) percentage($right/$parentWidth) percentage($bottom/$parentWidth) percentage($left/$parentWidth);
}
//padding
@mixin padding($top,$right,$bottom,$left,$parentWidth) {
	padding: percentage($top/$parentWidth) percentage($right/$parentWidth) percentage($bottom/$parentWidth) percentage($left/$parentWidth);
}

//opacity
@mixin opacity($opacity) {
	$opacityIE: $opacity * 100;
	-ms-filter: "alpha( opacity=" + $opacityIE +")"; /* ie8 */
	filter: alpha( opacity=$opacityIE ); /* ie6,7 */
	opacity: $opacity;
}

//box-sizing
@mixin box-sizing($type:border-box) {
	-webkit-box-sizing: $type;
	box-sizing: $type;
}

//background-size
@mixin background-size($size...) {
	-webkit-background-size: $size;
	background-size: $size;
}

//trainsition
@mixin transition($value...) {
	-webkit-transition: $value;
	transition: $value;
}

//transform
@mixin transform($value...) {
	-webkit-transform: $value;
	-ms-transform: $value;
	transform: $value;
}

//position absolute
@mixin absoluteT ($top: auto) {
	position: absolute;
	top: $top;
}
@mixin absoluteR ($right: auto) {
	position: absolute;
	right: $right;
}
@mixin absoluteB ($bottom: auto) {
	position: absolute;
	bottom: $bottom;
}
@mixin absoluteL ($left: auto) {
	position: absolute;
	left: $left;
}
@mixin absoluteTL ($top: auto, $left: auto) {
	position: absolute;
	top: $top;
	left: $left;
}
@mixin absoluteTR ($top: auto, $right: auto) {
	position: absolute;
	top: $top;
	right: $right;
}
@mixin absoluteTRL ($top: auto, $right: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	left: $left;
}
@mixin absoluteTRB ($top: auto, $right: auto, $bottom: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
}
@mixin absoluteTBL ($top: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	bottom: $bottom;
	left: $left;
}
@mixin absoluteRBL ($right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	right: $right;
	bottom: $bottom;
	left: $left;
}
@mixin absoluteRB ($right: auto, $bottom: auto) {
	position: absolute;
	right: $right;
	bottom: $bottom;
}
@mixin absoluteBL ($bottom: auto, $left: auto) {
	position: absolute;
	bottom: $bottom;
	left: $left;
}
@mixin absoluteAll ($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

//hideText
@mixin hideText ($value: 150%) {
	overflow: hidden;
	text-indent: $value;
	white-space: nowrap;
}

//textOverflow
@mixin textOverflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//hangingList
@mixin hangingList {
	text-indent: -1em;
	margin-left: 1em;
}

//「>」矢印作成
@mixin arrow-line($size: 10px, $right: 10px, $border-width: 1px, $color: #000, $deg: 45deg) {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: $right;
		bottom: 0;
		width: $size;
		height: $size;
		margin: auto;
		border-top: $border-width solid $color;
		border-right: $border-width solid $color;
		@include transform(rotate($deg));
	}
}

// 「▶」矢印作成
@mixin arrow-fill($right: 10px, $border-width: 10px, $color: #e00, $deg: 45deg) {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: $right;
		bottom: 0;
		width: 0;
		height: 0;
		margin: auto;
		border: $border-width solid $color;
		border-bottom-color: transparent;
		border-left-color: transparent;
		@include transform(rotate($deg));
	}
}

//keyframes
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

//animation
@mixin animation($animation-name) {
	-webkit-animation: $animation-name;
	-moz-animation: $animation-name;
	animation: $animation-name;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}

//-------------------------------------------------
// IE Hack
//-------------------------------------------------

//display:inline-block
@mixin inline-block_ie7 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
