@charset 'utf-8';

.u-hide-sp {
	@include mq-small {
		display: none !important;
	}
}

.u-hide-pc {
	@include mq-large {
		display: none !important;
	}
}

.u-inlineBlock {
	display: inline-block !important;
	*display: inline !important;
	*zoom: 1 !important;
}

.u-font-colorStrong {
	color: $color-strong !important;
}

.u-font-colorMild {
	color: $color-mild !important;
}

.u-font-bold {
	font-weight: bold !important;
}
.u-font-normal {
	font-weight: normal !important;
}

.u-font-sizeL {
	// [mediaQuery]----------
	@include mq-large {
		@include fz($font-size-large);
	}
}
.u-font-sizeS {
	@include fz($font-size-small);
}

%u-font-noto {
	font-family: 'Noto Sans Japanese', $font-family;
}
.u-font-notoR {
	@extend %u-font-noto;
	font-weight:400 !important;
}
.u-font-notoM {
	@extend %u-font-noto;
	font-weight:500 !important;
}
.u-font-notoB {
	@extend %u-font-noto;
	font-weight:700 !important;
}


.u-alignLeft {
	text-align: left !important;
}
.u-alignCenter {
	text-align: center !important;
}
.u-alignRight {
	text-align: right !important;
}
.u-alignJustify {
	text-align: justify !important;
}


.u-clearfix {
	*zoom:1;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.u-mbSS {
	margin-bottom: .5em !important;
}

.u-mbS {
	margin-bottom: 1em !important;
}

.u-mbSL {
	margin-bottom: 1.5em !important;
}

.u-mbSLL {
	margin-bottom: 2em !important;
}

.u-mbSM {
	margin-bottom: 2.5em !important;
}

.u-mbM {
	margin-bottom: 3.5em !important;

	// [mediaQuery]----------
	@include mq-small {
		margin-bottom: 2em !important;
	}
}

.u-ml {
	margin-left: 1em !important;
}

.u-pb-0 {
	padding-bottom: 0 !important;
}
.u-pb {
	padding-bottom: 1em !important;
}
.u-pb-large {
	padding-bottom: 2em !important;
}
.u-pb-xlarge {
	padding-bottom: 3em !important;
}

