@charset 'utf-8';

.l-widthKeeper {
	display: block;
	max-width: $width-base;
	margin: 0 auto;
	padding: 0 20px;

	@include mq-small {
		max-width: $width-sp;
		padding: 0;
	}
}

.l-container {
	// [mediaQuery]----------
	@include mq-small {
		padding-top: 60px;
	}
}

.l-content {
	padding-top: 55px;

	// [mediaQuery]----------
	@include mq-small {
		padding-top: 50px;
	}

	.top & {
		padding-bottom: 60px;
		background-color: $color-bgGrey;

		// [mediaQuery]----------
		@include mq-small {
			padding-bottom: 75px;
		}
	}
}

.l-content__inner {
	// [mediaQuery]----------
	@include mq-large {
		display: flex;
		justify-content: space-between;
	}
}

.l-contentFull {
	// [mediaQuery]----------
	@include mq-large {
		padding-top: 80px;
	}
	// [mediaQuery]----------
	@include mq-small {
		padding-top: 75px;
	}	
}

.l-main {
	// [mediaQuery]----------
	@include mq-large {
		width: percentage(690px/$width-base);
	}
	// [mediaQuery]----------
	@include mq-small {
		padding: 0 20px 75px;
	}
}

.l-side {
	// [mediaQuery]----------
	@include mq-large {
		width: percentage(270px/$width-base);
	}
}
