@charset 'utf-8';
//setting file
//////////////////////////////
@import '_include/_setting/setting';
// --------------------
@import '_include/_tool/mixin';
// --------------------

/*////////////////////////////
*
* base
*
* //////////////////////////*/

@import "_include/_base/reset";
@import "_include/_base/base-rw";

/*////////////////////////////
*
* layout
*
* //////////////////////////*/

@import "_include/_layout/layout";

/*////////////////////////////
*
* utility
*
* //////////////////////////*/

@import "_include/_tool/utility";

/*////////////////////////////
*
* modules
*
* //////////////////////////*/

.statusBox {
	position: fixed;
	right: 10px;
	top: 10px;
	padding: 20px;
	border: 1px solid;
}

.taskItem {
	width: 500px;
	padding: 10px;
	border: 1px solid;
}