@charset 'utf-8';

.js-none {
	display: none !important;
}

.taskItem {
	&.is-3 {
		border-left-color: #dc3545;
		border-left-width: 5px;
	}
	&.is-2 {
		border-left-color: #868e96;
		border-left-width: 5px;
	}
	&.is-1 {
		border-left-color: #28a745;
		border-left-width: 5px;
	}
	&.is-over {
		border-color: rgba(0,0,0,.125);
		border-left-width: 1px;
		background-color: #dc3545;
	}
	&.is-complete {
		border-color: rgba(0,0,0,.125);
		border-left-width: 1px;
		background-color: #aaa;
	}
}